<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <!-- test -->
    <%- include("./layout/header") %>
    
    <div class="container">
      <div class="bg-natural-60">
        <h1 class="text-d">test</h1>
        <hr>
        <h2 class="text-5xl">中文321abc</h2>
        <h2 class="text-4xl">中文321abc</h2>
        <h2 class="text-3xl">中文321abc</h2>
        <h2 class="text-2xl">中文321abc</h2>
        <h2 class="text-xl">中文321abc</h2>
        <hr>
        <h2 class="text-b-lg">中文321abc</h2>
        <h2 class="text-b-md">中文321abc</h2>
        <h2 class="text-b-sm">中文321abc</h2>
        <h2 class="text-b-xs">中文321abc</h2>
        
        <hr>

        <p class="font-medium">123 font-medium</p>
        <p class="font-normal">123 font-normal</p>
      </div>
      
      
    </div>

    <%- include("./layout/footer") %>

    
    <script type="module" src="../main.js"></script>
    <script type="text/javascript" src="../node_modules/tw-elements/js/tw-elements.umd.min.js"></script>
  </body>
</html>
